**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/node_modules
**/*.md
**/.env
**/docker-compose*
**/.dockerignore
**/Dockerfile*
**/*.trx
**/*.json.user
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
